<li class="dropdown">
        <a href="#!" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Statistics
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href=""></a>Flight Duration</li>
          <li><a href=""></a>Fuel Capacity</li>
          <li><a href=""></a>Hours Flown</li>
        </ul>
      </li>