<br/>
<br/>
<h2>Plane details</h2>
<br/>
<br/> ID:
<%=  plane._id %>
  <br> Name:
  <%=plane.tailNumber%>
    <br/> Number of Seats:
    <%=plane.numSeats%>
      <br/> Fuel Capacity (Gallons):
      <%=plane.fuelCapacity%>
        <br/>
        <br/>

            <form method="get" action="/plane">
              <input type="submit" value="Return to list" class="btn btn-caution" />
            </form>